{% extends 'sightings/base.html' %}



{% block main %}
<title>Statistics of Squirrels</title>
<body>
    <div class= "container">
            <p>
            <h1><strong>Finding Squirrel Project</strong></h1>
            </p>
            <p>
                <h3>Contributors</h3>
                    <li>Jiaming Xie</li>
                    <li>Tianling Wang</li>
            </p>

            <p><h3>About the Project</h3>
            </p>
            
            <p>
                    <a href="/sightings/" class="btn btn-primary my-2">Check Squirrel List</a>
                    <a href="/map/" class="btn btn-primary my-2">Go to Squirrel Map</a>
            </p>
            
        </div>
    </body>
{% endblock %}


