{% extends 'sightings/base.html' %}



{% block main %}
<title>Squirrel Hunter 007</title>
<body>
    <div class= "container">
            <p>
            <h1><strong>Finding Squirrel Project</strong></h1>
            </p>
            <p>
                <h3>Contributors</h3>
                    <li>Jiaming Xie</li>
                    <li>Tianling Wang</li>
            </p>

            <p><h3>About the Project</h3>
	    This is a web application built with Django. The aim of the app is to keep track of all the known squirrels in Central Park. 
	    Current squirrel records are imported from NYC Open Data <a href="https://data.cityofnewyork.us/Environment/2018-Central-Park-Squirrel-Census-Squirrel-Data/vfnx-vebw">2018 Central Park Squirrel Census - Squirrel Data</a>
	    
	    
	    
	    </p>
            
            <p>
                    <a href="/sightings/" class="btn btn-primary my-2">Check Squirrel List</a>
                    <a href="/map/" class="btn btn-primary my-2">Go to Squirrel Map</a>
            </p>
            
        </div>
    </body>
{% endblock %}


